<.header>
  Add User
  <:subtitle>Use this form to create a new user.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/admin/users"} />

<.back navigate={~p"/admin/users"}>Back to users</.back>
