<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Failed to save the user. Please address the errors below.
  </.error>

  <.input field={f[:username]} type="text" label="Username" />
  <.input field={f[:password]} type="password" label="Password" />
  <.input field={f[:password_confirmation]} type="password" label="Confirm password" />

  <:actions>
    <.button>Save User</.button>
  </:actions>
</.simple_form>
